.toc__title {
	background: #7a8288;
}

.post__header h1 {
	font-size: 30px;
	font-size: 1.875rem;
}

.post__content blockquote {
	color: #7a8288;
}

.post__content h2 {
	font-size: 26px;
	font-size: 1.625rem;
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	border-bottom: solid 1px #0D7E83;
}

.post__content h3 {
	font-size: 22px;
	font-size: 1.375rem;
	margin: 0 0 12px;
	margin: 0 0 0.75rem;
	border-bottom: dashed 1px #4e8486;
}

.post__content h4 {
	font-size: 18px;
	font-size: 1.125rem;
	margin: 0 0 4px;
	margin: 0 0 0.25rem;
	border-bottom: dashed 1px #7a8288;
}

.post__content h5 {
	font-size: 16px;
	font-size: 1rem;
	margin: 0 0 0;
	border-bottom: dashed 1px #ebebeb;
}

.post__content h6 {
	font-size: 16px;
	font-size: 1rem;
	margin: 0 0 0;
	border-bottom: dotted 1px #ebebeb;
}

.pseudo_h3 {
	margin: 0 0 12px;
	margin: 0 0 0.75rem;
	font-size: 22px;
	font-size: 1.375rem;
	font-weight: bold;
	border-bottom: dashed 1px #4e8486;
}

.pseudo_h4 {
	margin: 0 0 4px;
	margin: 0 0 0.25rem;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
	border-bottom: dashed 1px #7a8288;
}

.pseudo_h5 {
	margin: 0 0 0;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	border-bottom: dashed 1px #ebebeb;
}

.pseudo_h6 {
	margin: 0 0 0;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	border-bottom: dotted 1px #ebebeb;
}

summary {
  cursor: pointer;
}

summary:hover {
  cursor: pointer;
  background-color: #eeeeee;
	color: #0D7E83;
}

figcaption {
	text-align: right;
	margin: 1px 4px 0;
}

figcaption h5 {
	margin: 0;
	color: inherit;
}

.post_img {
  margin: auto;
  display: block;
}

.figure_img, .figure_img p {
	margin: 0 0 0;
}

.figure_img {
	border: 1px solid #ebebeb;
  display: flex;
  flex-flow: column;
  padding: 0;
	margin: 0 20px 20px;
	margin: 0 1.25rem 1.25rem;
}

body {
	word-break: break-all;
}
